<mat-drawer-container class="tool-container" [hasBackdrop]="isOpen">
  <mat-drawer mode="side" [opened]='!isOpen' class="mat-elevation-z1">
    <h1>CSV Splitter</h1>
    <form [formGroup]="headerForm" (ngSubmit)="startTool()" class="tool-controls">

        <mat-form-field appearance="fill" color="primary">
            <mat-label>Split Size</mat-label>
            <mat-select formControlName="splitsize">
                <mat-option *ngFor="let size of selectSizes" [value]="size">{{size}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="file-upload">
            <input type="file" accept=".csv" formControlName="csvfile" name="csvfile" id="fileinput" #csv (change)="fileUpload(csv.files)">
            <button type="button" mat-raised-button color="primary" (click)="csv.click()" class="is-fullwidth">
                <fa-icon [icon]="faFileUpload" size="lg"></fa-icon>
                <span>Upload CSV File</span>
            </button>
        </div>
        <div class="start-tool">
            <button mat-raised-button color="accent" (click)="startTool()" class="is-fullwidth" [disabled]="!headerForm.valid">
                <fa-icon [icon]="faPlay" size="lg"></fa-icon>
                <span>Split File</span>
            </button>
        </div>

    </form>
  </mat-drawer>
  <mat-drawer-content>
  
  
    <button mat-fab color="primary" class="sidebar-toggle" (click)="openSidebar()">
        <fa-icon [icon]=" (isOpen? faSlidersH : faTimes) " size="lg"></fa-icon>
    </button>
	
  <mat-card>
        <mat-card-content>
		
		
            <div class="instruction" *ngIf="!ready; else toolResults">
                <p>On occasion when attempting to import a large CSV to the Volusion platform it will cause a time out during import. This tools was designed to resolve that issue by splitting your large file into multiple easy to import files.</p>
                <p><strong>Instructions:</strong></p>
                <ol>
                    <li>Select the maximum number of rows per file using the select field above.</li>
                    <li>Upload your CSV import file using the <i>Upload CSV</i> button above.</li>
                    <li>Click the <i>Start Splitting</i> button to start the tool.</li>
                </ol>
                <p>The tool will then process your file and provide you with a download button to download a zip file containing your split files.</p>
            </div>
			<ng-template #toolResults>
			    <div class="progress-wrapper" *ngIf="!complete">
                    <mat-spinner mode="indeterminate"></mat-spinner>
                </div>
				<div class="results" *ngIf="complete">

                    <div class="level">
                        <div class="level-item">
                            <span class="level-header">File Size</span>
                            <span class="level-content">{{csvFileSize}}</span>
                        </div>
                        <div class="level-item">
                            <span class="level-header">Total Columns</span>
                            <span class="level-content">{{csvTotalColumns}}</span>
                        </div>
                        <div class="level-item">
                            <span class="level-header">Total Rows</span>
                            <span class="level-content">{{csvTotalRows}}</span>
                        </div>
                        <div class="level-item">
                            <span class="level-header">Files Created</span>
                            <span class="level-content">{{csvSplitCount}}</span>
                        </div>
                    </div>

                    <div class="download-wrapper">
                        <button mat-raised-button color="accent" (click)="downloadFiles()">
                            <fa-icon [icon]="(generatingDL ? faSpinner : faFileDownload)" [class.fa-spin]="generatingDL"></fa-icon>
                            <span>Download Split Files</span>
                        </button>
                    </div>

                </div>
			</ng-template>
			
			
        </mat-card-content>
    </mat-card>

    <div class="ad-wrapper"></div>

  </mat-drawer-content>
</mat-drawer-container>