<div class="container">
    <div class="container-content">
        <div id="not-found">
            <mat-card>
                <mat-card-content>
                    <h3>404.</h3>
                    <p>The page that you requested could not be located. This may be due to an error, or I broke something.</p>
                    <p>Please click the logo in the upper left to return to the homepage and attempt to use the navigation to reach the page or tool you were attempting to reach.</p>
                    <p>If you reached this page due to an error, dont worry, I will fix it.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>