<div class="container">
    <div class="container-content">
        <div id="privacy-wrapper">
            <mat-card>
                <mat-card-content>
                    <h1>Privacy.</h1>
                    <p>This site does not collect or store any personal data. No files or content uploaded is stored on our server at all. All tools are designed to run in the browser, so nothing gets sent or stored.</p>
                    <p>Google Analytics is installed and used to track visits and tool usage, but all data is completely anonymous.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>