<div class="wrapper">
  <div class="announcement">
    <span>VToolbox is now FounderTools. <a mat-stroked-button color="accent" routerLink="/vtoolbox-update"  role="link" aria-label="Home">Learn More</a></span>
  </div>
  <mat-toolbar class="mat-elevation-z2" role="navigation" aria-label="Site Navigation">
      <a mat-button routerLink="/" class="branding" role="link" aria-label="Home">
        <svg id="logo" aria-labelledby="logo-title logo-desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 478.761 478.761">
            <title id="logo-title">FounderTools Home</title>
            <desc id="logo-desc">The illustrated logo for FounderTools</desc>
            <path class="logo1" d="M147.761 91.372h279.772C398.533 50.379 329.177 0 239.38 0 100.88 0 0 114.372 0 238.122 0 356.37 86.38 438.37 147.761 460.599V91.372z"/>
            <path class="logo2" d="M331.5 342.61h123.92c-27.888 57.012-72.54 95.262-123.921 117.781V342.61z"/>
            <path class="logo3" d="M177.88 342.61h123.5v128.044s-26.25 8.107-62.32 8.107c-28.93 0-61.18-7.974-61.18-7.974V342.61z"/>
            <path class="logo4" d="M177.88 239.38h123.5v73.491h-123.5z"/>
            <path class="logo5" d="M331.5 239.38v73.11h135.768s10.613-26.619 11.494-73.11H331.5z"/>
            <path class="logo6" d="M177.88 121.491v86.881h298.955s-5.33-46-29.069-86.881H177.88z"/>
        </svg>
        <span><strong>Founder</strong>Tools</span>
      </a>
      <div class="nav-end">
        <a mat-button role="link" aria-label="About FounderTools" routerLink="/about">About</a>
        <a mat-button role="link" aria-label="FounderTools Release Notes" routerLink="/release-notes">Release Notes</a>
      </div>
  </mat-toolbar>

  <main role="main">
    <router-outlet></router-outlet>
  </main>
  <footer role="contentinfo">
    <div class="footer-content">
      <a mat-button role="link" aria-label="FounderTools Privacy Policy" routerLink="/privacy-policy">Privacy Policy</a>
      <span class="copy-info">&copy; FounderTools 2021</span>
    </div>
  </footer>
</div>