<div class="container">
    <div class="container-content">
        <div id="annouce-wrapper">
            <mat-card>
                <mat-card-content>
                    <h1>Update.</h1>
                    <p>Vtoolbox is now FounderTools. The original VToolbox was created over 2 years ago, and while it has served many users in its time, it is time for an upgrade.</p>
                    <p>This new iteration has improved tools, a better user interface and last but not least, a much better domain.</p>
                    <p>The intent of the original site was to create tools that would benifit Volusion store founders and administrators, and as such, I feel that the new domain better reflects those goals.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>